.aboutUs {
    display: flex;
    padding: 0 1em;
    margin: 0 auto 3em;
    padding-top: var(--fixedHeaderHeight);
    margin-top: - var(--fixedHeaderHeight);
    max-width: 800px;
    color: var(--primaryColor);
    align-items: center;
}

.header {
    composes: sectionHeader from "../global.css";
    flex: 1;
}

.seperationLine {
    border: 1px solid var(--primaryColor);
    margin: 0 2rem;
    width: 200px;
    transform: rotate(-80deg);
}

.body {
    composes: sectionBody from "../global.css";
    flex: 2;
}

@media only screen and (max-width: 800px) {
    .aboutUs {
        flex-direction: column
    }
    .seperationLine {
        transform: none;
    }
} 