.aboutUs {
    text-align: center;
    width: 800px;
    margin: 40px auto 70px;
}

.header {
    composes: sectionHeader from "../global.css";
}

.body {
    composes: sectionBody from "../global.css";
}