.brand {
    display: flex;
    align-items: baseline;
    font-size: 2rem;
    color: var(--primaryColor);
    font-family: "Apple Chancery";
}

.logo {
    width: 1em;
    height: 1em;
    margin-right: 10px;
}