.card {
    background: #333333;
    max-width: 300px;
    color: #ffffff;
    box-sizing: border-box;
    padding: 20px;
    font-size: 1.25rem;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}