.carousel {
    position: relative;
    height: 700px;
}

.carouselIndicatorContainer {
    position: absolute;
    bottom: 2rem;
    list-style: none;
    display: flex;
    height: 0.6rem;
    align-items: flex-end;
    left: 50%;
    transform: translateX(-50%);
}

.carouselIndicator {
    height: 0.3rem;
    width: 3rem;
    background:#9B9B9B;
    border: none;
    margin: 0.3rem;
    cursor: pointer;
    transform-origin: bottom;
}

.carouselIndicatorActive {
    transform: scaleY(1.6);
    background: var(--accentColor);
}