.carousel {
    position: relative;
}

.item {
    width: 100%;
    flex: 0 0 auto;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
}

.itemActive {
    opacity: 1;
    pointer-events: auto;
}

.itemContainer {
    display: flex;
    overflow: hidden;
    width: 100%;
}

.indicatorContainer {
    position: absolute;
    bottom: 2rem;
    list-style: none;
    display: flex;
    height: 0.6rem;
    align-items: flex-end;
    left: 50%;
    transform: translateX(-50%);
}

.indicator {
    height: 0.3rem;
    width: 3rem;
    background:#9B9B9B;
    border: none;
    margin: 0.3rem;
    cursor: pointer;
    transform-origin: bottom;
}

.indicatorActive {
    transform: scaleY(1.6);
    background: var(--accentColor);
}

@media only screen and (max-width: 800px) {
    .indicator {
        display: none;
    }
} 