.contactUsSection {
    position: relative;
    color: white;
    max-width: 300px;
}

.section {
    padding: 10px;
    display: flex;
    align-items: center;
}

.section img {
    width: auto;
    height: 100%;
}
