.footer {
    composes: sectionBody from "../global.css";
    margin-left: 20px;
    margin-right: 20px;
}

.colWrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.col1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.col1 ul, .col1 li {
    padding-left: 0;
    margin-left: 0;
}

.socialIcon {
    width: 30px;
    margin-right: 10px;
}

.navLink {
    list-style: none;
    margin: 10px;
}

.navLink a {
    text-decoration: none;
    color: inherit;
}