.footer {
    display: flex;
    justify-content: space-around;
    margin-top: 200px;
}

.col1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.col1 ul {
    padding-left: 0;
}

.socialIcon {
    width: 30px;
    margin-right: 10px;
}

.navLink {
    list-style: none;
    margin: 10px;
}

.navLink a {
    text-decoration: none;
    color: inherit;
}