.getInTouchSection {
    padding: 3em 0;
    padding-top: var(--fixedHeaderHeight);
    margin-top: - var(--fixedHeaderHeight);
}

.header {
    composes: sectionHeader from "../global.css";
    text-align: center;
}

.body {
    composes: sectionBody from "../global.css";
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 40px;
    background: url("../images/map.png");
    background-size: cover;
}
