.header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.navigation ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}

.navigation_item {
    display: inline-block;
    padding: 10px;
}