.heroSection {
    position: relative;
}

.heroContent{
    position: absolute;
    top: 0;
    left: 0;
    height: 700px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 6em;
}

.heroContent1 {
    background: url("../images/heroImage1.png");
}

.heroContent2 {
    background: url("../images/heroImage2.png");
}

.heroContent3 {
    background: url("../images/heroImage3.png");
}

.heroLine {
    font-size: 2rem;
    color: #fff;
    margin-bottom: 0.5em;
}

.heroButton {
    padding: 0.5em 1.3em;
    font-size: 1rem;
    background: var(--accentColor);
    color: var(--primaryColor);
    border: 3px solid var(--accentColor);
    text-align: center;
    max-width: 10rem;
    transition: 0.5s; 
    cursor: pointer;
    position: relative;
}

.heroButton:hover {
    padding-left: 0.6em;
    padding-right: 2em;
    transform: scale(1.1);
}

.heroButton:after {
    position: absolute;
    content: '→';
    opacity: 0;
    transition: 0.5s;
    top: 50%;
    transform: translateY(-50%);
    right: -1.5em;
}

.heroButton:hover:after {
    opacity: 1;
    right: 0.7em;
}