.ourServicesSection {
    padding: 3em;
    padding-top: var(--fixedHeaderHeight);
    margin-top: - var(--fixedHeaderHeight);
    background: var(--primaryColor);
    color: white;
}
.header {
    composes: sectionHeader from "../global.css";
    text-align: center;
}

.body {
    composes: sectionBody from "../global.css";
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}