.serviceSection {
    display: flex;
    justify-content: space-between;
}

.imageSection, .contentSection {
    flex: 1;
    padding: 1.5rem;
}

.makeContentFirst {
    order: -1;
}

.header {
    composes: sectionHeader from "../global.css";
    text-align: left !important;
}

.body {
    composes: sectionBody from "../global.css";
}