.serviceSection {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.imageSection img {
    max-width: 100%;
}

.imageSection, .contentSection {
    flex: 1;
    padding: 1.5rem;
}

.makeContentFirst {
    order: -1;
}

.header {
    composes: sectionHeader from "../global.css";
    text-align: left !important;
}

.body {
    composes: sectionBody from "../global.css";
}

@media only screen and (max-width: 768px) {
    .serviceSection {
        display: block;
    }
} 
