.serviceSection {
    position: relative;
    background: white;
    color: var(--primaryFontColor);
    margin: 10px;
    width: 250px;
}

.imageSection {
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 100%;
    padding: 1.5rem;
    background: white;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
}

.contentSection {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    padding: 0.5rem 1.25rem 0.5rem 4rem;
    height: 100px;
}
