@value variables: "../variables.css";
@value primaryBrandColor from variables;

.textAnimation {
    display: inline-block;
    position: relative;
    width: 210px;
    height: 50px;
}

.slider {
    position: absolute;
    display: inline-flex;
    flex-direction: column;
    color: primaryBrandColor;
    transition: transform 0.5s;
}

.textAnimationValue {
    opacity: 0;
    transition: opacity 300ms linear;
    margin-bottom: 10px;
    text-align: center;
}

.textAnimationValue.active {
    opacity: 1;
}