@value variables: "../variables.css";
@value primaryBrandColor from variables;

.textAnimation {
    display: inline-block;
    position: relative;
    margin: 0 1rem;
}

.slider {
    position: absolute;
    display: inline-flex;
    flex-direction: column;
    color: primaryBrandColor;
    transition: transform 0.5s ease-in-out;
    margin: 0;
}

.textAnimationValue {
    opacity: 0;
    transition: opacity 300ms ease-in-out;
    margin-bottom: 10px;
}

.textAnimationValue.active {
    opacity: 1;
}