@value variables: "./variables.css";
@value primaryFontColor from variables;

html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: primaryFontColor;
    font-size: 16px;
}