@value variables: "./variables.css";
@value primaryFontColor from variables;

html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: primaryFontColor;
    font-size: 16px;
    width: 100vw;
    overflow-x: hidden;
}

.sectionHeader {
    text-align: center;
    font-size: 3rem;
    font-weight: normal;
    margin-bottom: 0.5em;
}

.sectionBody {
    font-size: 2rem;
}

:global(.icon) {
    width: 1rem;
    height: 1rem;
    margin-right: 10px;
    margin-bottom: -2px;
}