@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: var(--primaryFontColor);
    font-size: 14px;
}

.sectionHeader {
    font-size: 2rem;
    font-weight: normal;
    margin-bottom: 0.5em;
}

.sectionBody {
    font-size: 1.5rem;
    margin-top: 2em;
}

:global(.icon) {
    width: 1rem;
    height: 1rem;
    margin-right: 10px;
    margin-bottom: -2px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    html, body {
        font-size: 12px;
    }
} 
